<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loop and Condition</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="app">
        <div class="list-user">
            <div v-for="user in users" v-if="user.isActive"  class="user">
                <div class="name">{{ user.name }}</div>
                <div class="age">{{ user.age }}</div>
            </div>
        </div>
    </div>
</body>
<script src="LoopAndCondition.js"></script>
</html>