<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise01</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <header>
        <h1>Header</h1>
    </header>
    <!-- Code here: begin -->
    <div id="app">
        <div class="cart">
            <button class="cart-btn">Giỏ hàng ({{ numProductInCart }})</button>
        </div>
        <div class="product">
            <div class="product-image">
                <div class="image">
                    <img v-bind:src="imagePath + currentItemSelected.url" alt="">
                </div>
            </div>
            <div class="product-content">
                <h3 class="title">Áo thun nam thể thao hàng VNXK vải dày mịn - Vải Đốm</h3>
                <p class="brand">Thương hiệu: No brand</p>
                <p class="quantity" v-if="currentItemSelected.quantity > 0">Còn lại: {{ currentItemSelected.quantity }} sản phẩm</p>
                <p class="quantity" v-else>Sản phẩm hết hàng</p>
            
                <div class="wrapper-price">
                    <div class="final-price">{{ finalPriceComputed }} VNĐ</div>
                    <div class="original-price">{{ originalPriceComputed }}</div>
                    <div class="sale-percent">{{ saleOffComputed }} %</div>
                </div>
                <div class="wrapper-color">
                    <div class="product-color">Màu sắc</div>
                    <div class="list-color">
                        <div class="color-text">{{ currentItemSelected.color }}</div>
                        <ul v-for="(item, index) in listProduct">
                            <li><img v-on:click="updateProductDisplay(index)" v-bind:src="imagePath + item.url" alt=""></li>
                        </ul>
                    </div>
                </div>
                <button v-on:click="updateNumberProduct(currentItemSelectedIndex)" class="add-to-cart">ADD TO CART</button>
            </div>

        </div>
        <div class="description"></div>
    </div>
    <!-- Code here: end -->
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
<script src="main.js"></script>

</html>