body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    color: #fff;
    padding: 15px 30px;
    background-color: #3498db;
}
footer {
    color: #fff;
    padding: 15px 30px;
    background-color: #34495e;
}
header h1, footer h1 {
    margin: 0;
}
#app {
    max-width: 1200px;
    padding: 30px;
    /* background-color: cadetblue; */
}
.cart-btn {
    display: inline-block;
    padding: 15px 10px;
    border: 1px solid blue;
}
.product {
    max-width: 700px;
    margin-top: 20px;
    display: flex;
    /* position: relative; */
}
img {
    max-width: 100%;
}
.product .product-image {
    flex-basis: 40%;
    max-width: 40%;
    padding-right: 30px;
}
.product .product-content {
    flex-basis: 60%;
}
.wrapper-price .final-price {
    color: tomato;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}
.wrapper-price .original-price, 
.wrapper-price .sale-percent {
    display: inline-block;
    font-size: 14px;
    color: gray;
}
.wrapper-price .sale-percent {
    color: #333;
    margin-left: 5px;
    padding: 3px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid green;
}
.wrapper-color {
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.wrapper-color .product-color {
    width: 100px;
    min-width: 100px;
}
.list-color ul {
    list-style-type: none; /*remove bullet*/
    display: flex; /*image inline*/
    display: inline-block;
    margin: 0;
    padding: 0;
}
.list-color ul li {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    margin-right: 10px;
}
.add-to-cart {
    border: 1px solid yellowgreen;
    background: yellowgreen;
    display: block;
    padding: 12px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}